{% extends 'programmer/layout.html' %}

{% block title %}Welcome!{% endblock %}

{% block main %}
    <div class="row">
        <div class="col pt-4 pb-4">
            <h1>The Fitness Programmer</h1>
            <p>
                Welcome to the Fitness Programmer!
                With this web app you can create and customize up to 5 different fitness routines.
                At the moment we support weight lifting and bodyweight routines only.
                If you do not have an account yet, be sure to register for free!
            </p>
        </div>
    </div>
{% endblock %}
